
@{
    Layout = "~/views/shared/_AdminLayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateRoles</title>
</head>
<body>
    <hr />
    <div> 
        <form action="~/Account/AddRole" id="">
            <label>Role Name</label>
            <input type="text" name="RoleName" />
            <input type="submit" value="Create" />
        </form>
    </div>
</body>
</html>
